extends layout

block content
  #main.container
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...
    case source
      when 'edit'
        h2 설문지 이어 만들기
      when 'complete'
        h2 설문 결과 보기
      when 'quest'
        h2 완성된 설문지 보기    
    .list-group
      each survey, i in surveys
        case source
          when 'edit'
            a.list-group-item(href='/survey/edit/#{survey._id}') #{survey.title} 
          when 'complete'
            li.list-group-item
              a(href='/survey/complete/#{survey._id}') #{survey.title} 
              input.surveyIdArea(type='hidden' value='#{survey._id}')
              if survey.deadline
                span.deadlineArea #{survey.deadline}
              span.spanRight2
                a.surveyDeleteArea
                  span.glyphicon.glyphicon-remove
          when 'quest'
            li.list-group-item
              a(href='/quest/#{survey._id}') #{survey.title}  
              if survey.deadline
                span.deadlineArea #{survey.deadline}
              span.spanRight
                a(data-toggle='modal' data-target='#modal_#{i}')
                  span.glyphicon.glyphicon-envelope
        
              .modal.fade(role='dialog' id='modal_#{i}')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button' data-dismiss='modal') &times;
                      h4.modal-title #{survey.title}
                    .modal-body
                      input.surveyId(type='hidden' value='#{survey._id}')
                      b 설문에 초대하실 분의 Email을 입력하세요.
                      p
                      .form-group
                        label(for='email') Email address
                        input.form-control.email(type='email', name='email', placeholder='Email')
                    .modal-footer
                      button.btn.btn-default.sendMail 메일보내기
                      .mailResultArea
                      button.btn.btn-default(data-dismiss='modal' type='button') Close
              
              
              
              
    

  script(type='text/javascript', src='/javascripts/surveyList.js')
