extends layout

block content
  .container
    input.textInput(type='text', value=array[0])
    br
    input.textInput(type='text', value=array[1])
    br
    input.textInput(type='text', value=array[2])
    br
    input.textInput(type='text', value=array[3])
    br
    input.textInput(type='text', value=array[4])
    br
    input.textInput(type='text', value=array[5])
    br
    input.textInput(type='text', value=array[6])
    br
    input.textInput(type='text', value=array[7])
    br
    input.textInput(type='text', value=array[8])
    br
    input.textInput(type='text', value=array[9])
